#clockBottom {
	margin-top: -20px;
}

#game{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

#game > #gamePoints{
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
}

#game > #gamePoints > span{
	color: var(--app-color);
}

#clock{
	width: 100%;
}

.cls-1 {
	fill: #e6e6e6;
}
.cls-4 {
	fill: #fff;
}
.cls-6,
.cls-7 {
	fill: none;
}
.cls-7 {
	stroke: #fff;
	stroke-width: 5px;
	opacity: 0.8;
}

.cls-8 {
	fill: #ccc;
}